.oval {
  width: 1900px;
  height: 800px;
  background: #f2f2f2;
  border-radius: 100px;
  position: absolute;
  top: -20%;
  margin: mx auto;
  z-index: -1;
}
/*/
@media only screen and (max-width: 2300px) {
  .oval {
    right: -30%;
  }
}
@media only screen and (max-width: 2000px) {
  .oval {
    right: -35%;
  }
}
@media only screen and (max-width: 1900px) {
  .oval {
    right: -45%;
  }
}
@media only screen and (max-width: 1800px) {
  .oval {
    right: -55%;
  }
}
@media only screen and (max-width: 1600px) {
  .oval {
    right: -70%;
  }
}
@media only screen and (max-width: 1200px) {
  .oval {
    right: -100%;
  }
}
*/
